* { margin: 0; padding: 0; box-sizing: 1; font-family: 'Bitter', serif; font-family: 'Plus Jakarta Sans', sans-serif; font-family: 'Schibsted Grotesk', sans-serif;}

/* ::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: red; }
::-webkit-scrollbar-thumb:hover { background: blue; } */

/* 1065px x 830px okno */
div.wrapper {display:flex; flex-direction: column; justify-content: center; align-items: center; width:100%; height:100%;}
div.wrapper div.main { background: #D1D0CE; width:100%; height:95%; display:flex; flex-direction: row; justify-content: center; align-items: center;}

div.wrapper div.main div.left, div.wrapper div.main div.right { height: 100%;}
div.wrapper div.main div.left {width:20%; background:#E63946; display:flex; flex-direction: column; color:white;}
div.wrapper div.main div.right {width:80%; background:#F1FAEE; display:flex; justify-content: center; align-items: center; flex-direction: row;}

/*  right  */
div.right div.playtab { height:98%; width:70%; }
div.right div.playtab div.icon {background-color: red; width:50px; height:50px; border-radius: 50%; margin-left:20px; margin-bottom: 2px;}
div.right div.playtab div.playzone { height: 92%; width:100%; background-color: #504A4B; border-radius: 40px;}
div.right div.playzone-menu { height:80%; width:20%; background: #CC5A71; border-radius: 30px; margin:40px;}
div.wrapper div.footer { background: #34344A; width:100%; text-align: center; height:5%; color:white;}
a { color:white; text-decoration: none;}

/*  left  */
img[id^=svg]{width:"10px"; height: "10px";}
img#svg1{width:"30px"; height:"30px";}
img.svgLogo {width:30px; height:30px;}
img {width:30px; height:30px;}
svg {width:56px; height:41px; filter: brightness(200%); background-color: transparent; transition:width 0.15s; transition:height 0.15s;}

div.logo {display:flex; flex-direction: column; align-items: center; justify-content: center; }
div.logo div.up, div.logo div.mid, div.logo div.down { display:flex; flex-direction: row; justify-content: center; align-items: center; margin-top:3px; margin-bottom:3px;}
svg#svg3{ filter: brightness(0) saturate(100%) invert(71%) sepia(8%) saturate(2627%) hue-rotate(306deg) brightness(101%) contrast(98%); }


div.left div.top { height:19%; padding-bottom:20px; padding-top:10px;}
div.left div.medium { height:75%; }
div.medium div.button { font-size:20px; font-weight:800; padding:10px; transition:0.5s; cursor:pointer; }
div.medium div.button:hover {font-size:20px; font-weight:800; padding:10px; padding-left: 40px; background-color: #DB162F; color:black;}

div.left div.base {border:1px solid white;font-size:20px; font-weight: 1000; padding:10px; margin-top:0px; height:5%;}

/*  table  */
table {
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-style: none;
    font-size: 40px;
    margin-bottom: 5px;

}
:root { --var-dimensions:80px}
td {
    border: 1px solid black;
    width: var(--var-dimensions);
    height: var(--var-dimensions);
}

/*
filter: brightness(0) saturate(100%) invert(7%) sepia(97%) saturate(5019%) hue-rotate(283deg) brightness(81%) contrast(115%) - violet;
filter: brightness(0) saturate(100%) invert(37%) sepia(32%) saturate(782%) hue-rotate(94deg) brightness(86%) contrast(84%); - green
filter: brightness(0) saturate(100%) invert(71%) sepia(8%) saturate(2627%) hue-rotate(306deg) brightness(101%) contrast(98%); - pink
filter: brightness(0) saturate(100%) invert(51%) sepia(8%) saturate(3503%) hue-rotate(165deg) brightness(94%) contrast(86%); - blue
filter: brightness(0) saturate(100%) invert(82%) sepia(41%) saturate(3151%) hue-rotate(350deg) brightness(100%) contrast(105%); - yellow
filter: brightness(0) saturate(100%) invert(3%) sepia(78%) saturate(14%) hue-rotate(314deg) brightness(94%) contrast(87%); - brown
filter: brightness(0) saturate(100%) invert(15%) sepia(96%) saturate(3139%) hue-rotate(158deg) brightness(97%) contrast(91%); - another green
filter: brightness(0) saturate(100%) invert(20%) sepia(44%) saturate(4596%) hue-rotate(329deg) brightness(89%) contrast(88%); - another pink
*/